{% extends 'base.html' %} {% block content %}
<h1>Login</h1>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<form method="post">
  <label>Username:</label>
  <input type="text" name="username" required />
  <br />
  <label>Password:</label>
  <input type="password" name="password" required />
  <br />
  <button type="submit">Log in</button>
</form>
{% endblock %}
