{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row justify-content-center my-2">
    <div class="col-6 text-center">
      <a href="/start_training" class="btn btn-primary">Train model</a>
    </div>
  </div>
  <div class="row justify-content-center my-2">
    <div class="col-6 text-center">
      <a href="/start_inference" class="btn btn-primary">Start Inference</a>
    </div>
    <br />
    <div class="row justify-content-center my-2">
      <div class="col-6 text-center">
        <a href="/stop_inference" class="btn btn-primary">Stop Inference</a>
      </div>
      <div class="row justify-content-center my-2">
        <div class="col-6 text-center">
          <a href="/change_times" class="btn btn-primary">Change Times</a>
        </div>
      </div>
      <div class="row justify-content-center my-2">
        <div class="col-6 text-center">
          <a href="/view_users" class="btn btn-primary">Manage Users</a>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
